name: "Terraform CI/CD"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: "Terraform Plan & Apply"
    runs-on: ubuntu-latest
    
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "sa-east-1"

      TF_VAR_vpc_cidr: "10.0.0.0/16"
      TF_VAR_public_subnets: '{"public-a": {"cidr": "10.0.1.0/24", "az": "sa-east-1a"}, "public-b": {"cidr": "10.0.2.0/24", "az": "sa-east-1b"}}'
      TF_VAR_private_subnets: '{"private-a": {"cidr": "10.0.10.0/24", "az": "sa-east-1a"}, "private-b": {"cidr": "10.0.11.0/24", "az": "sa-east-1b"}}'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve

  terraform_destroy:
    name: "Terraform Destroy (Manual)"
    needs: terraform
    runs-on: ubuntu-latest
    environment: production
    if: github.ref == 'refs/heads/main'
    
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "sa-east-1"
      TF_VAR_vpc_id: "vpc-0a0526e4cac71c069"
      TF_VAR_public_subnets: '["10.0.1.0/24", "10.0.2.0/24"]'
      TF_VAR_private_subnets: '["10.0.3.0/24", "10.0.4.0/24"]'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve